@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --darkThemeColor: #101530;
  --lightThemeColor: #c7d2f2;
  --accentColor: #6ea3bb;
  --btnGradient: linear-gradient(to right, #519cd4, #502fcc);
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--darkThemeColor);
  color: #fff;
  /* background: #fff; */
  height: 100%;
}
/* nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
} */
.menu li a {
  transition: 0.1s ease-in-out;
  position: relative;
}

.menu li a::after {
  content: "";
  position: absolute;
  width: 0;
  background: white;
  left: 0;
  bottom: -5px;
  height: 2px;
  transition: 0.1s ease-in-out;
}

.menu li a:hover::after {
  width: 100%;
}

.menu li a.active {
  color: var(--accentColor);
  transition: 0.2s ease-in-out;
}
.menu li a:hover {
  color: var(--accentColor);
}

/* .menu li:last-of-type {
  background-image: var(--btnGradient);
  padding: 3px 5px;
  border-radius: 5px;
}
.menu li:last-of-type a {
  padding: 10px;
} */
.open-menu,
.close-menu {
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}

/* hero Section */
.primary-btn {
  border: 1px solid var(--accentColor);
  /* color: white !important; */
}
.primary-btn.contact-btn {
  transition: all 0.15s ease-in-out;
  position: relative;
}

.primary-btn.contact-btn::after {
  content: "";
  position: absolute;
  width: 0;
  background-image: var(--btnGradient);
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  transition: all 0.15s ease-in-out;
}

.primary-btn:hover::after {
  width: 100%;
}

.hero-section {
  /* height: 35rem; */
  height: calc(90vh - 60px);
}

.social-media-links a {
  position: relative;
  /* padding: 4px; */
  border: 2px solid var(--accentColor);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  margin: 0 20px;
}
.social-media-links a:hover {
  background-image: var(--btnGradient);
  transform: scale(1.1);
}
.social-media-links a:first-child {
  margin-left: 0;
}
.right-img {
  display: none;
}

.light-theme {
  background: var(--lightThemeColor);
  /* color: var(--darkThemeColor); */
  color: #242a4e;
}

.skills_section > div {
}
.skills_section > div img {
  width: 100px;
}
.contact_section {
  /* background: #6ea3bb; */
}
footer {
  background: #519cd4;
}
.skills-set_container {
  width: 70%;
  margin: 0 auto;
  gap: 60px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.inner {
  clip-path: circle(88.1% at 0 0);
  background: #1d265a;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(110, 163, 187, 0.27);
  border-radius: 10px;
  width: 200px;
  padding: 1em;
  height: 200px;
  position: absolute;
  z-index: -1;
}
.outer {
  clip-path: circle(81.6% at 5% 100%);
  background: #1d265a;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(110, 163, 187, 0.27);
  border-radius: 10px;
  width: 200px;
  padding: 1em;
  height: 200px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  /* left: -1; */
}
@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    width: 75%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* padding: 100px; */
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--darkThemeColor);
    transition: all 0.5s ease-in-out;
    z-index: 10;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  .menu li {
    margin-top: 30px;
  }
  .menu li a {
    padding: 10px;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  .skills_section img {
    width: 40px !important;
  }
  .skills-set_container {
    width: 100%;
    margin: 0 auto;
    gap: 10px;
    display: grid;
    grid-template-columns: auto auto;
  }
}
